$sidebarWidth: clamp(8rem, 25%, 15rem);

.homePageContent {
  &__main {
    margin-left: $sidebarWidth;
  }
  &__sideBar {
    width: $sidebarWidth;
  }
}

@media (width < 768px) {
  $sidebarWidth: 0;
  .homePageContent {
    &__main {
      margin-left: $sidebarWidth;
    }
    &__sideBar {
      display: none;
    }
  }
}

.skills-gradient {
  @apply bg-gradient-to-r dark:from-alternativeBackground-dark dark:via-alternativeBackground-dark dark:via-70% dark:to-tertiaryBackground-dark;
}
