p {
  @apply text-sm;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  @apply dark:text-white text-[#121212];
}

p,
span,
a {
  @apply dark:font-light;
}

p,
div > p {
  @apply text-center sm:text-start;
}

p {
  @apply lg:text-base;
}

h2 {
  // scroll-margin-top: 10rem;
  @apply text-2xl  lg:text-3xl;
}

h3 {
  @apply text-lg font-normal lg:text-xl;
}

h4 {
  @apply text-base lg:text-lg;
}

.outlined-text {
  -webkit-animation: fill 0.5s infinite alternate;
  &--dark {
    -webkit-text-stroke: 0.4px white;
    -webkit-text-fill-color: black;
  }
  &--light {
    -webkit-text-stroke: 0.7px black;
    -webkit-text-fill-color: white;
  }
}
